.item-asset {
    a {
        text-decoration: none;
    }
    .icon {
        font-size: 14px !important;
        align-items: baseline;
        padding-top: 2%;
    }
    .button{
    	color: $activeBlue !important;
        background: #fff;
    }
}

.bar-header .ion-close-round {
    margin-top: 20px !important;
}

 