<ion-view title="Work Order">
    <ion-nav-buttons side="right">
        <div syncup></div>
        <div offline></div>
        <div ng-show="expense.isLock">
            <i class="icon ion-ios-locked step size-32" style="color:#5E747F;"></i>
        </div>
    </ion-nav-buttons>
    <ion-content padding="true">
        <div class="add-quote-expense">
            <br>
            <div class="row detail-top-blue-banner white-btm-border contact-detail">
                <div class="col">
                    <h3>Create Expense</h3>
                </div>
            </div>
            <div class="row contact-detail">
                <div class="col">
                    Quote: <span ng-bind=""></span>
                </div>
            </div>
            <form name="quoteExpense.expenseForm" novalidate="" ng-submit="quoteExpense.expenseSave(quoteExpense.expenseForm)">
                <div class="row">
                    <div class="col images">
                        <select name="type" id="type" class="select_parent_width custom-select" ng-model="quoteExpense.exp.type">
                            <option value="">--Type--</option>
                            <option value="Airfare">Airfare</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Food - Breakfast">Food - Breakfast</option>
                            <option value="Food - Lunch">Food - Lunch</option>
                            <option value="Food - Dinner">Food - Dinner</option>
                            <option value="Gas">Gas</option>
                            <option value="Lodging">Lodging</option>
                            <option value="Mileage">Mileage</option>
                            <option value="Misc">Misc</option>
                            <option value="Parking">Parking</option>
                            <option value="Parts">Parts</option>
                            <option value="Phone">Phone</option>
                            <option value="Rental Cars">Rental Cars</option>
                            <option value="Tolls">Tolls</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                        <div class="col exp-checkbox">
                            <ion-checkbox ng-model="quoteExpense.exp.billable">  </ion-checkbox>
                            <span>Billable</span>
                        </div>


                        <div class="col exp-checkbox">
                            <ion-checkbox ng-model="quoteExpense.exp.applyWarranty"></ion-checkbox>
                            <span> Apply Warranty </span>
                        </div>

                    <div class="col">
                        <label class="item-input item-floating-label" ng-class="{ 'has-error' : quoteExpense.expenseForm.cost.$invalid && quoteExpense.expenseForm.cost.$dirty}">
                            <span class="input-label">Expense Amount</span>
                            <input type="number" name="cost" ng-required="true" ng-model="quoteExpense.exp.cost" ng-pattern="/^[0-9]{1,7}$/" required>
                        </label>
                        <div class="form-errors" ng-messages="quoteExpense.expenseForm.cost.$error" ng-show='quoteExpense.expenseForm.$submitted || quoteExpense.expenseForm.cost.$dirty'>
                            <div class="form-error" ng-message="required">This field is required <i class="ion-information-circled"></i> </div>
                            <div class="form-error" ng-message="pattern"> Not Valid Number <i class="ion-information-circled"></i> </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="item-input item-floating-label" ng-class="{ 'has-error' : quoteExpense.expenseForm.discount.$invalid && quoteExpense.expenseForm.discount.$dirty}">
                            <span class="input-label">Discount</span>
                            <input type="number" name="discount" ng-required="true" ng-model="quoteExpense.exp.discount" ng-pattern="/^[0-9]{1,7}$/" required>
                        </label>
                        <div class="form-errors" ng-messages="quoteExpense.expenseForm.discount.$error" ng-show='quoteExpense.expenseForm.$submitted || quoteExpense.expenseForm.discount.$dirty'>
                            <div class="form-error" ng-message="required">This field is required <i class="ion-information-circled"></i> </div>
                            <div class="form-error" ng-message="pattern"> InValid Number <i class="ion-information-circled"></i> </div>
                        </div>
                    </div>
                    <div class="col images">
                        <select name="type" id="type" class="select_parent_width custom-select" ng-model="quoteExpense.exp.type">
                            <option value="">--Type--</option>
                            <option value="Percent">Percent</option>
                            <option value="Amount">Amount</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="item-input item-floating-label">
                            <span class="input-label">Description</span>
                            <textarea name="description" id="" cols="30" rows="5" ng-model="quoteExpense.exp.description"></textarea>
                        </label>
                    </div>
                </div>
                <div class="row" ng-if="quoteExpense.expenseId.length > 4 && quoteExpense.expenseId != 'null'">
                    <div class="col">
                        <label class="item-input item-floating-label">
                            <span class="input-label">Reason for Change</span>
                            <textarea name="change_reason" id="" cols="30" rows="5" ng-required="true" ng-model="quoteExpense.exp.change_reason"></textarea>
                        </label>
                        <div class="form-errors" ng-messages="quoteExpense.expenseForm.change_reason.$error" ng-show='quoteExpense.expenseForm.$submitted || quoteExpense.expenseForm.change_reason.$dirty'>
                            <div class="form-error" ng-message="required">This field is required <i class="ion-information-circled"></i> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="submit" class="button button-positive" value="Save">
                        <!-- ng-disabled="activity.activityForm.$invalid || activity.activityForm.$pending" -->
                    </div>
                    <div class="col">
                        <div class="button button-outline  button-assertive" ng-click="quoteExpense.takeMeBack()">
                            Cancel
                        </div>
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
