<mob-nav></mob-nav>

<div class="container">
	
	 <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1" modal>Modal</a>

  <input type="text" name="datepicker" id="datepicker123" jquery-datepicker>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">

    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
      <input type="text" ng-model="test">
    </div>
    <div class="modal-footer">
      <input type="button" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="getTestData();" value="Agree">
    </div>

  </div>


</div>